
body{
    background-color: rgb(129,150,133);
    width: 40%;
    height: 100%;
    margin: auto;
   
    
}
fieldset{
    background-color: rgb(166,197,168);
    height: 100%;
    text-align: center;
    border-color: rgb(120,150,140);
    border-width: 40px;
}